application:
  taskType: publish
  middleware:
    host: localhost
spring:
  profiles:
    active: local
  application:
    name: api
  data:
    redis:
      host: ${application.middleware.host}
      port: 6379
      database: 0

  session:
    store-type: redis
    timeout: 30d # 30d
    redis:
      flush-mode: on-save
      namespace: spring:session
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  mvc:
    static-path-pattern: /static/**
  devtools:
    restart:
      enabled: false
server:
  port: 8088
  servlet:
    session:
      cookie:
        max-age: 2592000
  tomcat:
    max-swallow-size: 500MB  # 防止上传中断后抛异常
logging:
  config: classpath:logback.xml

admin:
  password: 'admin'

login:
  adminBackNotOnly: false
  onlyOneLoginUser: false

config:
  res: ./gmail-cloud/res
  resBak: ./gmail-cloud/resBak
  uploadDir: ./gmail-cloud/upload
  ipPlatform: http://all_sms.nbt-sms.com

redisson:
  singleServerConfig:
    address: redis://${application.middleware.host}:6379

mongo:
  db: gmail-cloud
  host: ${application.middleware.host}
  port: 27017
