.title {
  height: 36px;
  margin: 0 20px 0px 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: "微软雅黑 Light";
}

.divide {
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #DBDFE3;
}

.balance {
  height: 156px;
  font-family: "微软雅黑";
  border-radius: 12px;
  background-image: url('images/slices/profile_balance.jpg');
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

.total {
  height: 156px;
  font-family: "微软雅黑";
  border-radius: 12px;
  background-image: url('images/slices/profile_total.jpg');
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

.unbinds {
  height: 156px;
  font-family: "微软雅黑";
  border-radius: 12px;
  background-image: url('images/slices/profile_unbinds.jpg');
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
